nav {
  a {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.5px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
}
