.get-started-section {
  .container {
    .content-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px;
      gap: 48px;
      background: linear-gradient(278.55deg, #aad9d9 -25.49%, #5151c6 104.79%);
      width: 100%;
      border-radius: 30px;
    }
  }
}
